 .photo-list {
     list-style-type: none;
     padding: 0;
 }

 .photo-list li {
     margin-bottom: 20px;
     padding: 10px;
     display: flex;
     align-items: center;
     justify-content: start;
     gap: 15px;
     position: relative;
 }

 .photo-list li::after {
     content: "";
     display: block;
     position: absolute;
     bottom: -5px;
     left: 0;
     width: 100%;
     height: 1px;
     background-color: #ccc;
     margin-top: 20px;
 }

 .photo-list li span {
     display: inline-block;
     border-radius: 10px;
     padding: 10px;
     min-width: 80px;
     text-align: center;
 }

 .photo-list li span:hover {
     background-color: black;
     color: white;
     transform: scale(1.2);
     transition: all 0.3s ease;
 }

 .info-photo {
     width: 100px;
     margin: 5px;
     border-radius: 10px;
     z-index: 1;
 }

 .info-photo:hover {
     transform-origin: center center;
     transform: scale(2.0);
     box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
     transition: all 0.3s ease;
     z-index: 999;
 }